@import url('https://fonts.googleapis/css2?family=Poppins:wght@200;300;400;500;600;700;800;900;&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;    
}
.contact{
    position: relative;
    min-height: 570px;
    padding: 50 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(/img/Web\ capture_22-10-2023_211227_127.0.0.1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 350px;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: rgb(144, 144, 144);
    padding: 10px;
}
.contact .content p{
    font-weight: 500;
    font-size: small;
    color: rgb(103, 103, 103);
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
    margin-left: 100px
}
.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    flex-direction: column;
    font-weight: 300;  
}
.container .contactInfo .box .text h3{
    font-weight: 500;
    color: #ffffff;
}
.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
    border-radius: 20px;
    border: 2px solid rgb(179, 245, 243);
    align-items: center;
}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:focus ~ span
{
   color: #373737;
   font-size: 12px;
   transform: translateY(-20px); 
}
.contactForm .inputBox input[type= "submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
}
nav{
    background-color: #5000a6;
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 4rem;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
}
nav div img{
    width: 50px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
nav ul li a{
    text-decoration: none;
    font-family: 'Segoe UI';
    color: #191919;
    font-weight: 600;
    padding: 6px 0;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 1px solid rgba(255, 228, 196, 0);
}
nav ul li a:hover{
    color: bisque;
    border-bottom: 1px solid bisque;
}
